body {
    background-color: rgb(177, 177, 177);
}

html, body {
    width: 100%;
    box-sizing: border-box;
}

a:any-link {
    text-decoration: none;
    color: rgb(0, 125, 255);
}

.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(179, 96, 141);
    border: 0;
    /*padding: 10px;*/
    margin: 0;
    z-index: 999;
}

.menu * {
    position: relative;
    margin: 20px;
}

.menu .title {
    font-size: 45px;
    top: -30px;
}

.navigation ul {
    list-style: none;
    display:inline-block;
    font-size: 24px;
}

nav.navigation, .navigation ul li {
    display:inline-block;
    margin: 0;
    top: -20px;
}

.navigation ul li.usagelink {
    border: 2px solid white;
}

nav.navigation ul li a:any-link {
    color: white;
}

main {
    position: relative;
    top: 120px;
    /* overflow-x: hidden; */
    width: 100%;
}
