body {
    background-color: rgb(223, 210, 210);
    margin: 0;
}

html, body {
    box-sizing: border-box;
}

a:any-link {
    text-decoration: none;
    color: rgb(0, 125, 255);
}

.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(179, 96, 141);
    border: 0;
    margin: 0;
    z-index: 999;
}

.menu * {
    position: relative;
    margin: 20px 5px 20px 5px;
}

.menu .title {
    font-size: 45px;
    top: -30px;
}

.navigation {
    float:right;
}

.navigation ul {
    list-style: none;
    display:inline-block;
    font-size: 24px;
}

nav.navigation, .navigation ul li {
    display:inline-block;
    margin: 0;
    top: 5px;
    margin-right: 20px;
}

.rectlink {
    border: 2px solid rgb(42, 37, 18);
}

nav.navigation ul li a:any-link {
    color: white;
}

main {
    position: relative;
    top: 120px;
    text-align: center;
}

main div.description {
    color: rgb(255, 237, 0);
    height: 500px;
    background-color: rgb(87, 63, 57);
    background-image: url("./img/discord.png");
    background-repeat: no-repeat;
    background-position: center;
}

main div.description * {
    position:relative;
    top: 250px;
}

main div.description h1 {
    font-size: 42px;
}

main div.description p {
    font-size: 22px;
}

a.hoverable {
    padding: 20px;
    background-color: inherit;
    color: black;
}

a.hoverable:hover {
    color: white;
    background-color: rgb(42, 37, 18);
}

div.seealso * {
    display: inline-block;
}

.spacer {
    padding: 0 30px;
}

footer {
    color: white;
    background-color: rgb(20, 20, 20);
    width:100%;
    position:relative;
    box-sizing: border-box;
    right:0px;
}

pre code {
    text-align: left;
    padding-left: 500px !important;
}
